@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@300;400;500;600;700&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer {
    /*Para o footer completo*/
    background-color: #24262b;
    padding: 70px 0;
}

.footer-column {
    /*Para todas as colunas*/
    width: 25%;
    padding: 0 15px;
}

.footer-column h4 {
    /*Para todos titulos h4*/
    font-size: 18px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-column h4::before {
    /* Para todos titulos h4, permitindo escrever algo */
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-column ul li:not(:last-child) {
    margin-bottom: 10px;
}
.footer-column ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}

.footer-column ul li a:hover {
    color: #fff;
    padding-left: 8px;
}

.footer-column .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: gray;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #fff;
    transform: all 0.5s ease;
}

.footer-column .social-links a:hover {
    color: #24262b;
    background-color: #fff;
}

/* Responsive */
@media(max-width: 972px) {
    .footer-column {
        width: 50%;
        padding: 0 15px;
        margin-bottom: 30px;
    }
}

@media(max-width: 571px) {
    .footer-column {
        width: 100%;
        padding: 0 15px;
    }
}